name: Deploy Frontend

on:
  push:
    branches: [main]

# Test env
# 실제 사용하는 bucket name에 맞게 변경해주세요.
env:
  CLIENT_BUCKET_NAME: "ddcn41-frontend-v3-github-action-test-client"
  ADMIN_BUCKET_NAME: "ddcn41-frontend-v3-github-action-test-admin"
  ACCOUNTS_BUCKET_NAME: "ddcn41-frontend-v3-github-action-test-accounts"
  AWS_REGION: ap-northeast-2

permissions:
  id-token: write   # This is required for requesting the JWT
  contents: read    # This is required for actions/checkout
  
jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22]
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9.15.0
        
      - name: Setup Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}
          cache: "pnpm"

      - name: Install dependencies
        run: pnpm install

      - name: build client
        run: pnpm run build
        working-directory: ./apps/client

      - name: build admin
        run: pnpm run build
        working-directory: ./apps/admin
        
      - name: build accounts
        run: pnpm run build
        working-directory: ./apps/accounts

      - name: Build client artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: build-client-frontend-files
          path: ./apps/client/dist
          retention-days: 1
          
      - name: Build admin artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: build-admin-frontend-files
          path: ./apps/admin/dist
          retention-days: 1
          
      - name: Build accounts artifact upload
        uses: actions/upload-artifact@v4
        with:
          name: build-accounts-frontend-files
          path: ./apps/accounts/dist
          retention-days: 1
          
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build client artifact download
        uses: actions/download-artifact@v4
        with:
          name: build-client-frontend-files
          path: build/client
          
      - name: Build admin artifact download
        uses: actions/download-artifact@v4
        with:
          name: build-admin-frontend-files
          path: build/admin
          
      - name: Build accounts artifact download
        uses: actions/download-artifact@v4
        with:
          name: build-accounts-frontend-files
          path: build/accounts

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }}
          aws-region: ${{ env.AWS_REGION }}

      - name: S3 client Upload
        run: |
          aws s3 sync ./build/client s3://${{ env.CLIENT_BUCKET_NAME }} \
            --delete
      - name: S3 admin Upload
        run: |
          aws s3 sync ./build/admin s3://${{ env.ADMIN_BUCKET_NAME }} \
            --delete
      - name: S3 accounts Upload
        run: |
          aws s3 sync ./build/accounts s3://${{ env.ACCOUNTS_BUCKET_NAME }} \
            --delete
